<h3>Appears from the app.component html because of the selectors: 'sandbox' defined in the sandbox.component file and app.component html</h3>
  <ol>
    <li>Section 3: chapter 15,16: Data binding & String manipulation
    <ul>
      <li>{{ name }} is {{ age }} years old.</li>
      <li>One way binding: My name is {{ person.firstName }} {{person.lastName}}.</li>
      <li>Calling a function in the component.ts: {{ showAge() }}</li>
    </ul>
  </li>
  <li>Section 3: chapter 17: Objects & Interfaces
      <ul>
        <li>Custom customer object: Name: {{ customer.name}}, Id: {{customer.id}} </li>
        <li>For objects declared on a separate file as an interface, set 'export' to that interface OR just
          <br> use the CLI: ng generate interface 'interfacePath/intarfaceName'</li>
          <li>Import the interface into the component.ts file </li>
          <li>Customers: {{customers[0].name}}; {{customers[1].name}} </li>
      </ul>
    </li>
    <li>Section 4: chapter 19: Templates and stylesheets
        <ul>
          <li>Add style-sheets into a different file and import it into the component </li>
          <br>
          <li> ngFor Looping
            <ul>
              <li>Printing array without ngFor: {{ customers[0].name }}, {{ customers[0].email }}</li>
              <li>Printing with ngFor:</li>
              <ul>
                <li *ngFor="let person of customers;">
                  {{person.name}}: {{person.email}}
                </li>
            </ul>
            </ul>
            <ul>
              <li> Conditional
                <ul>
                  <li>ngIf with else using ngTemplate:
                    <ul>
                        <li>Hello <span *ngIf = "showName; else noName">{{ name}}</span><ng-template #noName>World</ng-template></li>
                    </ul>
                  </li>
                  <li>ngIf using ternary operator:
                      <ul>
                          <li>Hello {{ showName ? name : 'World' }}</li>
                      </ul>
                    </li>
                    <li>ngSwitch conditioal:
                        <ul>
                            <li><div [ngSwitch]="greeting">
                              <div *ngSwitchCase=1>Hello World</div>
                              <div *ngSwitchCase=2>Hello Brad</div>
                              <div *ngSwitchDefault>Hello</div>
                            </div></li>
                        </ul>
                      </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Section 4: chapter 22: Properties binding
          <ol>
            <li>Binding property using string interpolation (double curly brace notation): {{'{'}}{{'{'}}{{'}'}}{{'}'}} </li>
            <ul>
              <li>Eg: {{ name }} </li>
              <li> <!-- <div><img src="{{ imageUrl }}"></div>  --></li>
            </ul>
            <li>Using square brackets: [src]</li>
            <ul>
                <li>Eg: [src]="imageUrl"  </li>
                <li> <!-- <div><img [src]="imageUrl"></div> --> </li>
                <li>Eg: Image location: <span [textContent]="imageUrl"></span></li>
            </ul>
            <li>Using bind attribute prefix </li>
            <ul>
                <li>Eg: bind-src="imageUrl"</li>
                <li><!-- <div><img bind-src="imageUrl"></div> --> </li>
            </ul>
          </ol>
          <ul> 
            <li><p [hidden]="isUnchanged">Post has been changed</p></li>
            <li><button [disabled]="isUnchanged">Save</button></li>
          </ul>
        </li>
  </ol>

<h1></h1>

<h1></h1>

<h1></h1>