<h4>Section: 5 ngModel and two-way binding</h4>
<div class="container">
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label>Name</label>
      <input 
      type="text" 
      class="form-control" 
      [(ngModel)]="name" 
      name="name" 
      (blur)="nameValueChanged()">
    </div>
    <div class="form-group">
      <input 
      type="number" 
      class="form-control" 
      [(ngModel)]="age" 
      name="age">
    </div>
    <input 
    type="submit" 
    value="Submit" 
    class="btn btn-success">
  </form>
  <h6>{{name}}</h6>
  <h6>{{age}}</h6>
</div>
<h4>Section: 5 Template driven forms</h4>
<div class="container">
  <form novalidate #f="ngForm" (ngSubmit)="onSubmitTemplate(f)">
    <div class="form-group">
      <label>Name</label>
      <input 
      type="text"
      class="form-control"
      [(ngModel)]="user.name"
      name="name"
      #userName="ngModel"
      minlength="2"
      required>
      <div *ngIf="userName.errors?.required && userName.touched"
      class="alert alert-danger">Name is required.</div>
      <div *ngIf="userName.errors?.minlength && userName.touched"
      class="alert alert-danger">Minimum length of name is 2 characters.</div>
    </div>
    <div class="form-group">
      <label>E-mail</label>
      <input
      type="text"
      class="form-control"
      [(ngModel)]="user.email"
      name="email"
      #userEmail="ngModel"
      required>
      <div class="alert  alert-danger" *ngIf="userEmail.errors?.required && userEmail.touched">Email is required</div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input
      type="text"
      class="form-control"
      [(ngModel)]="user.phone"
      name="phone"
      #userPhone="ngModel"
      minlength="10">
      <div class="alert alert-danger" *ngIf="userPhone.errors?.minlength && userPhone.touched">Enter a valid phone number</div>
    </div>
    <input type="Submit" value="submit" class="btn btn-success">
  </form>
</div>