Hello from angular :)


<sandbox></sandbox>
<app-section4></app-section4>
<app-section5></app-section5>
<app-section6></app-section6>

<app-navbar></app-navbar>
<div class="container">
    <router-outlet></router-outlet>
</div>
