<h4>Section: 4 Style Binding and ngStyle</h4>
<ul>
  <li>Style directly applied based on a parameter in the component:</li>
  <ul>
    <li>
      <div [style.font-size]="isSpecial1 ? 'x-large' : 'smaller'">Font size depends on isSpecial1</div>
    </li>
  </ul>
  <li>Apply style directly from the component using ngStyle:</li>
  <ul>
    <li><div [ngStyle]="currentStyle">Saveable and special</div></li>
  </ul>
</ul>
<h4>Section: 4 Pipes</h4>
<ul>
  <li>Expressing Date: </li>
  <ul>
    <li>No format: {{birthday}}</li>
    <li>With Format: {{birthday | date}}</li>
    <li>With Format  yy-dd-MM: {{birthday | date:"yy-dd-MM"}}</li>
    <li>With Format  yyyy: {{birthday | date:"yyyy"}}</li>
  </ul>
  <li>Expressing Case: </li>
  <ul>
    <li>lowercase: {{'Hello' | lowercase}}</li>
    <li>uppercase: {{'hello' | uppercase}}</li>
  </ul>
</ul>