<h4>Section 6: Services and Observables</h4>
<ol class="list-group">
  <li>Services can be created using ng-cli but will have to be manually imported into the app.module file</li>
  <li>Observables are part of Reactive extensions</li>
  <li>Check the DataService to see usage of Arrow function - has advantage when using the 'this' notation</li>
</ol>
<div class="container">
  <ul class="list-group" style="align-items: left">
    <li class="list-group-item" *ngFor="let user of users">{{user}}</li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let d of data">{{d}}</li>
  </ul>
</div>
<br>
<h4>Get example from JsonPlaceholder.com</h4>
<div *ngFor="let user of usersJsonPlaceholder">
  <div class="well">
    <ul class="list-group">
      <li class="list-group-item">Name: {{user.name}}</li>
      <li class="list-group-item">Email: {{user.email}}</li>
      <li class="list-group-item">Phone: {{user.phone}}</li>
    </ul>
    <br>
    <button (click)="onDeleteClick(user.id)" class="btn btn-danger btn-sm" >Delete</button>
    <button (click)="onEditClick(user)" class="btn btn-primary btn-sm">Edit</button>
    <br>
    <br>

  </div>
</div>
<h4>Post example:</h4>
<div class="container">
  <form (ngSubmit)="submit(isEdit)">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="user.name" name="name">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" [(ngModel)]="user.email" name="email">
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone">
    </div>
    <input type="submit" class="btn btn-success" value="submit">
  </form>


</div>