<h4>Section: 5 Mouse Events</h4>
<ul>
  <li><button (click)="fireEvent($event, 'clicked')">Click Event</button></li>
  <li><button (mouseover)="fireEvent($event, 'clicked')">mouseover Event</button></li>
  <li><button (mousedown)="fireEvent($event, 'clicked')">mousedown Event</button></li>
  <li><button (mouseup)="fireEvent($event, 'clicked')">mouseup Event</button></li>
  <li><button (dblclick)="fireEvent($event, 'clicked')">Dblclick Event</button></li>
  <li><button (drag)="fireEvent($event, 'clicked')">Drag Event</button></li>
  <li><button (dragover)="fireEvent($event, 'clicked')">Dragover Event</button></li>
</ul>
<h4>Section: 5 Change Properties on Mouse Events</h4>
<ul>
  <li><button (click)="changeValue()">ChangeProperty</button><br> {{text}}</li>
  <li><span  *ngIf="clicked"><h4>{{text}}</h4></span></li>
</ul>
<h4>Section: 5 Keyboard Events</h4>
<ul>
  <li><input type="text" (keyup)="keyboardEvent($event)" placeholder="keyup"><br></li>
  <li><input type="text" (keydown)="keyboardEvent($event)" placeholder="keydown"><br></li>
  <li><input type="text" (focus)="keyboardEvent($event)" placeholder="focus"><br></li>
  <li><input type="text" (blur)="keyboardEvent($event)" placeholder="blur"><br></li>
  <li><input type="text" (cut)="keyboardEvent($event)" placeholder="cut"><br></li>
  <li><input type="text" (copy)="keyboardEvent($event)" placeholder="copy"><br></li>
  <li><input type="text" (paste)="keyboardEvent($event)" placeholder="paste"><br></li>
  <li>{{keyboardEventType}}</li>
</ul>
<h4>Section: 5 ngModel and two-way binding</h4>
<app-section5-ng-module-form></app-section5-ng-module-form>
